body {
    overflow: hidden;
}

.allExamContainer {
    align-items: center;
}

.questionContainer {
    border: 5px solid #949fa6;
    border-radius: 10px;
    width:700px;
    height: 400px;
    text-align: center;
    margin: 20px auto;
    .question {
        color: #f2f2f2;
        font-family: "Noto Naskh Arabic", serif;
        font-size: 2rem;
        margin-top: 15px;
    }
    hr {
        color: #949fa6;
        background-color: #949fa6;
        height: 1px;
        margin-bottom: 45px;
    }
    button {
        width: 180px;
        border: 3px solid #949fa6;
        height: 85px;
        margin: 20px 30px;
        // line-height: 110px;
        border-radius: 20px;
        font-size: 2rem;
        color: #fff;
        direction: ltr;
        background-color: #949fa6;
        transition: ease .7s;
        font-family: "Noto Naskh Arabic", serif;
    }
    button:hover {
        background-color: black;
    }
}

@media only screen and (max-width:720px){
    .questionContainer {
        width: 500px;
    }
}

.examContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        font-size: large;
        font-family: "Noto Naskh Arabic", serif;
        width: 250px;
        height: 80px;
        border-radius: 9px;
        margin: 18% 3%;
    }
}

.return {
    width: 100px;
    border: 3px solid black;
    height: 50px;
    margin: 10px 30px;
    border-radius: 20px;
    font-size: 1rem;
    color: #fff;
    direction: ltr;
    background-color: #949fa6;
    font-family: "Noto Naskh Arabic", serif;
    transition: all ease .5s;
}

.learnSender {
    width: 100px;
    border: 3px solid #949fa6;
    height: 50px;
    margin: 10px 30px;
    border-radius: 20px;
    font-size: 1rem;
    color: #fff;
    direction: ltr;
    background-color: black;
    font-family: "Noto Naskh Arabic", serif;
    transition: all ease .5s;
}

.return:hover {
    background-color: black;
}

.learnSender:hover {
    background-color: #949fa6;
}
