.titles {
  display: block;
  font-family: "Noto Naskh Arabic", serif;
  font-size: 20px;
  margin: 30px 280px;
}
.head {
  color: red;
  div {
    display: inline-block;
    width: 33%;
    text-align: center;
    border: 1.5px solid #949fa6;
    font-family: "Noto Naskh Arabic", serif;
  }
}
.rows {
  div {
    display: inline-block;
    width: 33%;
    text-align: center;
    color: #f2f2f2;
    border: 1.5px solid #949fa6;
    font-family: "Noto Naskh Arabic", serif;
  }
}
.rows:nth-child(odd) {
  background-color: #4e595c;
}
@media only screen and (max-width: 1473px) {
  .titles {
    margin: 0px;
  }
}
