@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap");

/* Color Theme Swatches in Hex */
//  #232426;
// #666D73;
//  #949FA6;
//  #363E40;
//  #F2F2F2;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #363e40;
}

@import "../styles/first-page";
@import "../styles/learn";
@import "../styles/exam";
@import "../styles/question";